In [23]:
import pandas as pd 
import numpy as np

df = pd.read_csv(r"D:\Codes\Python-Language\pandas\Advance_Pandas\monthly-housing.csv")
df

         date     hpi  numsold
0    1/1/1991  100.00       30
1    2/1/1991  100.48       40
2    3/1/1991  100.74       51
3    4/1/1991  100.75       50
4    5/1/1991  100.92       47
..        ...     ...      ...
275       NaN     NaN       31
276       NaN     NaN       33
277       NaN     NaN       35
278       NaN     NaN       39
279       NaN     NaN       38

[280 rows x 3 columns]

In [24]:
df['date'] = pd.to_datetime(df['date'], dayfirst=True)

df['date'] = df['date'].fillna(method='ffill')
df

C:\Users\NoNeo\AppData\Local\Temp\ipykernel_12200\3543881796.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['date'] = df['date'].fillna(method='ffill')

          date     hpi  numsold
0   1991-01-01  100.00       30
1   1991-01-02  100.48       40
2   1991-01-03  100.74       51
3   1991-01-04  100.75       50
4   1991-01-05  100.92       47
..         ...     ...      ...
275 2013-01-04     NaN       31
276 2013-01-04     NaN       33
277 2013-01-04     NaN       35
278 2013-01-04     NaN       39
279 2013-01-04     NaN       38

[280 rows x 3 columns]

In [25]:
df.isna().sum()

date        0
hpi        12
numsold     0
dtype: int64

In [26]:
df['hpi'] = df['hpi'].fillna(df['hpi'].median())

In [27]:
df

          date      hpi  numsold
0   1991-01-01  100.000       30
1   1991-01-02  100.480       40
2   1991-01-03  100.740       51
3   1991-01-04  100.750       50
4   1991-01-05  100.920       47
..         ...      ...      ...
275 2013-01-04  157.935       31
276 2013-01-04  157.935       33
277 2013-01-04  157.935       35
278 2013-01-04  157.935       39
279 2013-01-04  157.935       38

[280 rows x 3 columns]